pyrofork==2.3.45
pyrogram==2.0.106
tgcrypto
googletrans==3.1.0a0
# HTTP & Utility Libraries
requests
aiohttp
aiofiles
bs4
ujson
wget
colorama
shortzy
pytz
humanize
python-dotenv==0.21.1
python-decouple

# YouTube & Media Tools
yt-dlp>=2024.04.09
youtube-search-python==1.4.6
youtube_search
ffmpeg
ffmpeg-python>=0.2.0
ytthumb
hachoir
gTTS==2.3.1
opencv-python-headless==4.7.0.68
yt-dlp
# MongoDB & Schema
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1

# Scheduling & Templates
apscheduler
jinja2

# Others
psutil==5.9.4
speedtest==0.0.1
Pillow==9.4.0
matplotlib
openai==0.25.0
PyLeaves==1.0.2
git+https://github.com/Joelkb/cinemagoer